.dialogContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 580px !important;
  width: 100%;
  gap: 30px;
  overflow: hidden;
  padding: 40px 40px;
  .spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .inputs {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      width: 100%;
      input {
        width: 100%;
      }
    }
    .btn {
      width: 100%;
    }
  }
  h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 33px;
  }
  h2 {
    font-size: 18px;
    font-weight: 500;
  }
}

@media (max-width: 440px) {
  .dialogContent {
    .content {
      .inputs {
        input {
          font-size: 14px;
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .dialogContent {
    .content {
      .inputs {
        input {
          font-size: 12px;
        }
      }
    }
  }
}
