.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .select {
      max-width: 205px;
      width: 100%;
    }
  }
  .cards {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 40px;
  }
}
