.wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    .item {
      display: flex;
      align-items: center;
      gap: 10px;
      width: 100%;
      width: -moz-available;
      width: -webkit-fill-available;
      .collectionImg {
        width: 100%;
        max-width: 45px;
        max-height: 45px;
        min-height: 45px;
      }
      div {
        div {
          display: flex;
          align-items: center;
          gap: 5px;
          width: max-content;
          h5 {
            color: var(--text-100-w);
          }
        }
      }
    }
  }