.blockInfo {
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    .infoUs {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  
      .users {
        display: flex;
        flex-direction: column;
        gap: 7px;
  
        div:first-child {
          display: flex;
          align-items: center;
          gap: 10px;
  
          p {
            font-size: 24px;
            font-weight: 500;
          }
        }
  
        div:last-child {
          display: flex;
          align-items: center;
          gap: 10px;
  
          p {
            font-size: 16px;
            font-weight: 400;
            color: #979797;
          }
        }
      }
      .fullInfo {
        display: flex;
        gap: 30px;
  
        .volume {
          display: flex;
          flex-direction: column;
          gap: 7px;
          p:first-child {
            font-size: 24px;
            font-weight: 500;
          }
          p:last-child {
            font-size: 16px;
            font-weight: 400;
            color: #979797;
          }
        }
        .price {
          display: flex;
          flex-direction: column;
          gap: 7px;
          p:first-child {
            font-size: 24px;
            font-weight: 500;
          }
          p:last-child {
            font-size: 16px;
            font-weight: 400;
            color: #979797;
          }
        }
        .offer {
            display: flex;
            flex-direction: column;
            gap: 7px;
            p:first-child {
              font-size: 24px;
              font-weight: 500;
            }
            p:last-child {
              font-size: 16px;
              font-weight: 400;
              color: #979797;
            }
          }
          .owners {
            display: flex;
            flex-direction: column;
            gap: 7px;
            p:first-child {
              font-size: 24px;
              font-weight: 500;
            }
            p:last-child {
              font-size: 16px;
              font-weight: 400;
              color: #979797;
            }
          }
        }
      }
      .infoUss {
        display: flex;
        flex-direction: column;
        max-width: 610px;
        gap: 10px;
    
        p {
          font-size: 18px;
          font-weight: 400;
        }
    
        .underInfo {
          display: flex;
          gap: 20px;
          .items {
            display: flex;
            gap: 6px;
            color: #979797;
    
            p:first-child {
              font-size: 16px;
              font-weight: 400;
            }
            p:last-child {
              font-size: 16px;
              font-weight: 500;
            }
          }
          .dateCreate {
            display: flex;
            gap: 6px;
            color: #979797;
    
            p:first-child {
              font-size: 16px;
              font-weight: 400;
            }
            p:last-child {
              font-size: 16px;
              font-weight: 500;
            }
          }
          .network {
            display: flex;
            gap: 6px;
            color: #979797;
    
            p:first-child {
              font-size: 16px;
              font-weight: 400;
            }
            p:last-child {
              font-size: 16px;
              font-weight: 500;
            }
          }
        }
      }
      .blockNft {
        padding: 50px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        gap: 26px;
    
        .searchDrop {
          display: flex;
          justify-content: space-between;
        }
      }
    }