.wrapper {
  display: flex;
  max-width: 1280px;
  width: 100%;

  div:first-child {
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 100%;

    div:first-child {
      max-width: 443px;
      max-height: 442px;
    }

    .blockText {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;

      div:first-child {
        max-width: 1280px;
        width: 100%;
        display: flex;
        justify-content: space-between;

        .buttonSale {
          background: var(--bg-main-gradient);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          border: 2px solid;
        }
      }

      div:last-child {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 23px;


        div:first-child {
            max-width: 569px;
          display: flex;
          flex-direction: column;
          gap: 10px;
        }

        .priceBlock {
            display: flex;
            flex-direction: column;
            gap: 10px;
            background-color: var(--bg-90-b);
            border-radius: 16.42px;
            padding: 27px 28px 26px 27px;

            div:first-child {
                display: flex;
                align-items: self-start;

                div {
                    display: flex;
                    flex-direction: row;
                    gap: 9px;
                }
            }

            div:last-child {
                display: flex;
                flex-direction: row;
                justify-content: center;

                .buy {
                    width: 340px;
                    background: var(--bg-main-gradient);
                }

                .proposal {
                    width: 340px;
                    gap: 10px;
                }
            }
          }
          .offers {
            display: flex;
            align-items: center;

            .slid {
              display: flex;
              flex-direction: row;
              justify-content: space-between;

                
            }
        }

        // div:last-child {
        //   background-color: var(--bg-90-b);
        //   border-radius: 16.42px;
        //   display: flex;
        //   flex-direction: column;
        //   padding-left: 27px;
        //   padding-bottom: 27px;


        //   div:first-child {
        //     display: flex;
        //     gap: 5px;

        //     div {
        //       display: flex;
        //       flex-direction: row;
        //       justify-content: flex-start;
        //       gap: 9px;
        //     }
        //   }
        //   div:last-child {
        //     display: flex;
        //     flex-direction: row;
        //     justify-content: center;

        //     .buy {
        //       width: 340px;
        //       background: var(--bg-main-gradient);
        //     }
        //     .myy {
        //       width: 340px;
        //       gap: 10px;
        //     }
        //   }
        // }
      }
    }
  }
}
