.wrapper {
  display: flex;
  align-items: center;
  max-width: 416px;
  width: 100%;
  gap: 10px;
  padding: 10px 10px;
  border-radius: 20px;
  cursor: pointer;

  .avatar {
    border-radius: 100%;
    max-width: 52px;
    max-height: 52px;
    width: 52px;
    height: 52px;
  }

  .senderInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;

    h1 {
      font-size: 16px;
      font-weight: 500;
      line-height: 22px;
    }
    h2 {
      font-size: 13px;
      font-weight: 500;
      line-height: 16px;
    }
    h1,
    h2 {
      max-width: 310px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

@media (max-width: 924px) {
  .wrapper {
    .senderInfo {
      max-width: 240px;
    }
  }
}

@media (max-width: 768px) {
  .wrapper {
    max-width: 70px;
    .senderInfo {
      // max-width: 180px;
      display: none;
    }
  }
}

@media (max-width: 680px) {
  .wrapper {
    max-width: none;
    .senderInfo {
      max-width: none;
      h2,
      h1 {
        max-width: 290px;
      }
    }
  }
}

@media (max-width: 540px) {
  .wrapper {
    .avatar {
      width: 42px;
      height: 42px;
    }
  }
}

@media (max-width: 480px) {
  .wrapper {
    .senderInfo {
      max-width: 240px;
      h1 {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 460px) {
  .wrapper {
    padding: 5px 5px;
    justify-content: center;
  }
}

@media (max-width: 400px) {
  .wrapper {
    .senderInfo {
      max-width: 200px;
    }
  }
}
