.collections {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;

      div:first-child {
        display: flex;
        max-width: 39px;
        max-height: 39px;
      }

      div:last-child {
        display: flex;
        gap: 0px;
        div{
          display: flex;
          align-items: center;
          flex-direction: row;
          gap: 5px;
        }
      }
      
  }