.dropdown {
  position: relative;
  .wallet {
    display: flex;
    align-items: center;
    height: 38px;
    padding: 10px;
    border-radius: 15px;
    gap: 15px;
    cursor: pointer;
  }

  .favorites {
    display: none;
  }

  .content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 2;
    gap: 10px;
    padding: 10px;
    transform: translateX(-82%);
    width: 150px;
    border-radius: 8px;
    margin-top: 10px;

    .replenish {
      display: flex;
      align-items: center;
      gap: 10px;

      .backImg {
        border-radius: 9999px;
        padding: 5px;
      }

      .text {
        font-size: 14px;
        font-weight: 500;
      }
    }

    .conclusion {
      display: flex;
      align-items: center;
      gap: 10px;

      .backImg {
        border-radius: 9999px;
        padding: 5px;
      }

      .text {
        font-size: 14px;
        font-weight: 500;
      }
    }

    .balanceMobile {
      display: none;
      align-items: center;
      gap: 10px;

      .text {
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}

@media (max-width: 864px) {
  .dropdown {
    .balanceMobile {
      display: flex !important;
    }
    .wallet {
      max-width: 40px;
      padding: 10px;
      max-height: 40px;
      height: auto;
      .balance {
        display: none !important;
      }
    }
  }
}
